@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/
@layer base {
    body {
        @apply transition-colors duration-300;
    }
}

@font-face {
    font-family: 'BurmeseFont';
    src: url('assets/fonts/AyarJuno-2LO8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

